body {
    background-image: url(https://images.squarespace-cdn.com/content/v1/58a5b41517bffcbb262ebf52/1574721533743-8E82XAA12BX7N5KR5IJP/ke17ZwdGBToddI8pDm48kDrQ9tfdcvPUv7NgXGP4R2R7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0gmXcXvEVFTLbYX9CdVcGe4zwrosjp5YtnrvbmlM1LFKb7wNXE8lRZ0Z8l5PIsW3Vw/website+background+image.jpg?format=2500w);
}
.title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;;
    margin-top: 100px;
    margin-left: 100px;
}